.headerMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
}

.headerMenu li {
    margin-left: 10px;
}

.headerMenu li a {
    color: #fff;
}